/**
 * 2. GLOBAL
 * -----------------------------------------------------------------------------
 */
body,
button,
input,
select,
textarea {
	color: $font__body-color;
	font-family: $font_1;
	font-weight: 300;
	font-size: 14px; 
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background: $color_bg;
}

.font__color-1{
	color: $color_1;
}

a, a:hover, a:active, a:focus{
	color: $color_2;
	text-decoration: none;
	outline: 0;
}

/* BUTTONS */

:focus {
    outline: none !important;
    outline: 0 !important;
}

.btn{
	font-size: 14px;
	color: $white;
	padding: 15px 35px;
    border: 0;
    font-weight: 500;
}
.btn-primary{
    background-color: $color_1 !important;
    @extend .btn;
    color: $white !important;
    border-radius: 30px;
	&:active,
	&:hover{
		background-color: $color_1 !important;
    	color: $white !important;
	}
}
.btn-secondary{
    background-color: #e9e9e9 !important;
    @extend .btn;
    color: $color_1 !important;
    border-radius: 30px;
	&:active,
	&:hover{
		background-color: #e9e9e9 !important;
    	color: $color_1 !important;
	}
}
.spacer-10{
	height: 10px;
	@include clearfix;
}
.spacer-30{
	height: 30px;
	@include clearfix;
}
.spacer-50{
	height: 50px;
	@include clearfix;
}
.spacer-70{
	height: 70px;
	@include clearfix;
}
.spacer-90{
	height: 70px;
	@include clearfix;
}